<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
    <script defer type="text/javascript"src="{{ url_for('static',filename='js/feed_script.js')}}"></script>
</head>
<body>
<header>
    <nav>
        <a id="logo" href="/feed" ><strong>LocalCollabz</strong></a>
        <div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('explore')">Explore&nbsp</button>
                <div id="explore" class="dropmenu">
                    <a class="btn thic sm" href="/projects">Projects</a>
                    <a class="btn thic sm" href="/people">People</a>
                    <a class="btn thic sm" href="/watchlist/projects/{{ user.id }}">Watchlist</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('user_nav')">{{ user.alias }}&nbsp</button>
                <div id="user_nav"class="dropmenu">
                    <a class="btn thic sm" href="/projects/user/{{ user.id }}">My Projects</a>
                    <a class="btn thic sm" href="/messages/{{ user.id }}">Messages</a>
                    <a class="btn thic sm" href="/profile/{{ user.id }}">Profile</a>
                    <a class="btn thic sm" href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <!-- NOTIFICATIONS -->
    {% if attention: %}
    <div class="center">
        <p class=" feed_title">Updates for {{user.alias}}</p>
        <div class="big_top puny">
            <!-- accepted -->
            {% for message in messages: %}
            <form action="/dismiss/{{ message.id }}" method="post">
                <div class="sect">
                    <button class="plain puny_butt thic txt_highlight" type="submit">X</button>
                    <p class="puny">{{ message.notification }}</p>
                </div>
            </form>
            {% endfor %}
            <!-- UPDATE NOTIFICATIONS -->
            <!-- team updates -->
            {% if project_updates %}
            <div class="pals">
                <a class="puny thic b_txt_highlight" href="/projects/user/{{ user.id }}">view</a>
                <p class="puny">&nbspnew changes in:&nbsp</p>
                <p>{% for project in project_updates[0:-2]: %}
                {{ project }},
                {% endfor %}
                {% for project in project_updates[-2:-1]: %}
                {{ project }}, and
                {% endfor %}
                {% for project in project_updates[-1:]: %}
                {{ project }}
                {% endfor %}</p>
            </div>
            {% endif %}
            <!-- new messages -->
            {% if active_chats: %}
            <div class="pals">
                <a class="puny thic b_txt_highlight" href="/messages/user/{{ user.id }}">view</a>
                <p class="puny">&nbspnew messages in:&nbsp</p>
                <p>{% for chat in active_chats[0:-2]: %}
                {{ chat }},
                {% endfor %}
                {% for chat in active_chats[-2:-1]: %}
                {{ chat }}, and
                {% endfor %}
                {% for chat in active_chats[-1:]: %}
                {{ chat }}
                {% endfor %}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <!-- END NOTIFICATIONS -->
    <!-- FEATURED PROJECT -->
    {% if project %}
    <div class="center">
        <p class="feed_title big_bottom">Talent Needed:</p>
        <button class="snapshot" onclick="window.location.href='/project/{{ project.id }}'">
            <div class= "pals space">
                <div class="center">
                    <p class="info thic">status:</p>
                    <p class="puny_butt btn">{{ project.status }}</p>
                </div>
                <div class="center">
                    <p class="info thic">type:</p>
                    <p class="puny_butt btn">{{ project.type }}</p>
                </div>
            </div>
            <div class="center">
                <p class="name "><strong>{{ project.title }}</strong></p>
            </div>
            <p class="mish center">
                <img src="{{ url_for('static',filename='img/icons/open_quote.png')}}" alt="open quotes icon" class="open quotes">
                {{project.mission}}
                <img src="{{ url_for('static',filename='img/icons/close_quote.png')}}" alt="close quotes icon" class="close quotes">
            </p>
            <div class="sect left">
                <p class="sect_title thic left">current team:</p>
                {% for person in project.team: %}
                <a href="/profile/{{ person.id }}" class="subtle_btn">{{ person.alias }}</a>
                {% endfor %}
            </div>
            {% if project.roles_needed: %}
            <div class="sect left">
                <p class="sect_title thic">collaborators needed:</p>
                {% for role in project.roles_needed: %}
                <p>{{ role.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% if project.skills_needed: %}
            <div class="sect left">
                <p class="sect_title thic">skills desired:</p>
                {% for skill in project.skills_needed: %}
                {% if skill.has: %}
                <p class="txt_highlight">{{ skill.skill }}</a>
                {% else %}
                <p>{{ skill.skill }}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </button>
    </div>
    {% endif %}
    <!-- END FEATURED PROJECT -->
</div>

