
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript"src="{{ url_for('static',filename='js/my_messages.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<!-- NAV -->
<nav>
    <a id="logo" href="/feed" ><strong>LocalCollabz</strong></a>
    <div>
        <div class="dropdown">
            <button class="dropbtn btn thic" onclick="dropdown('explore')">Explore&nbsp</button>
            <div id="explore" class="dropmenu">
                <a class="btn thic sm" href="/projects">Projects</a>
                <a class="btn thic sm" href="/people">People</a>
                <a class="btn thic sm" href="/watchlist/projects/{{ user.id }}">Watchlist</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn btn thic" onclick="dropdown('user_nav')">{{ user.alias }}&nbsp</button>
            <div id="user_nav"class="dropmenu">
                <a class="btn thic sm" href="/projects/user/{{ user.id }}">My Projects</a>
                <a class="btn thic sm" href="/messages/{{ user.id }}">Messages</a>
                <a class="btn thic sm" href="/profile/{{ user.id }}">Profile</a>
                <a class="btn thic sm" href="/logout">Sign Out</a>
            </div>
        </div>
    </div>
</nav>
<!-- ENDNAV -->
<div class="content">
<!-- SEND OPTION -->
    {% if watched_people: %}
    <div id="new" class="snapshot_thin" onclick="display(0), hide(0)">
        <p class="thic tiny center">+ send a new message</p>
    </div>
<!-- END SEND OPTION -->
<!-- SEND MESSAGE -->
    <div class="snapshot b_highlight" id="send">
        <form action="/create_chat" method="post">
            <div class="center">
                <p class="puny thic close" onclick="nevermind(0), show(0)">x</p>
                <p class="thic tiny">New Message for:</p>
                <select class="tiny" name="user_id">
                    {% for person in watched_people: %}
                    <option value="{{ person.id }}">{{ person.alias }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="buddies_left">
                <input type="text" name="title" placeholder="subject" class="tiny">
                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' class="tiny" name="message" cols="45" rows="3"placeholder="direct message"></textarea>
                <button type="submit" class="tiny_butt btn thic close">send</button>
            </div>
        </form>
    </div>
    {% endif %}
<!-- END SEND MESSAGE -->
<!-- MESSAGES -->
{% for chat in conversations: %}
    {% if chat.visited == False: %}
    <div class="snapshot center b_highlight" onclick="window.location.href='/conversation/{{ chat.id }}'">
        <p class="sm thic">{{ chat.title }}</p>
        <p class="puny"><em>new messages!</em></p>
        <div class="pals tiny">
            {% for member in chat.members: %}
                {% if member.id != user.id: %}
            <a href="/profile/{{ member.id }}" class="btn tiny_butt">{{ member.alias }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% else: %}
    <div class="snapshot center" onclick="window.location.href='/conversation/{{ chat.id }}'">
        <p class="sm thic">{{ chat.title }}</p>
        <div class="pals tiny">
            {% for member in chat.members: %}
                {% if member.id != user.id: %}
            <a href="/profile/{{ member.id }}" class="btn tiny_butt">{{ member.alias }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
<!-- END MESSAGES -->
</div>
