
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script defer type="text/javascript"src="{{ url_for('static',filename='js/project_script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
    <!-- NAV -->
    <nav>
        <a id="logo" href="/feed" ><strong>LocalCollabz</strong></a>
        <div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('explore')">Explore&nbsp</button>
                <div id="explore" class="dropmenu">
                    <a class="btn thic sm" href="/projects">Projects</a>
                    <a class="btn thic sm" href="/people">People</a>
                    <a class="btn thic sm" href="/watchlist/projects/{{ user.id }}">Watchlist</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('user_nav')">{{ user.alias }}&nbsp</button>
                <div id="user_nav"class="dropmenu">
                    <a class="btn thic sm" href="/projects/user/{{ user.id }}">My Projects</a>
                    <a class="btn thic sm" href="/messages/{{ user.id }}">Messages</a>
                    <a class="btn thic sm" href="/profile/{{ user.id }}">Profile</a>
                    <a class="btn thic sm" href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
<div class="content">
    <div class="center">
        <p class=" thic sm">Get it on Paper</p>
        {% if user.has_organized == False: %}
        <p class="puny">All you need to get started is a title and a goal</p>
        {% endif %}
        <form action="/create_project/{{ user.id }}" method="post">
            <div class="buddies">
                <input type="text" name="title" placeholder="project title">
                <div class="mish">
                    <img src="{{ url_for('static',filename='img/icons/open_quote.png')}}" alt="open quotes icon" class="quotes bigopen">
                    <textarea name="mission" cols="26" rows="5" placeholder="Briefly define your goals mission. You can edit aspects of your projects at all stages in my projects."></textarea>
                    <img src="{{ url_for('static',filename='img/icons/close_quote.png')}}" alt="close quotes icon" class="quotes bigclose">
                </div>
                <button class="btn bigclose puny save" type="submit">save</button>
            </div>
        </form>
        <p class="puny">By default projects are set to private, so they will only be viewable by others when you indicate that you are ready for that</p>
    </div>
</div>