<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <section>
            <h3>Interests:</h3>
            <form action="/calibrate/interests/{{ user.id }}" method="POST">
                <label for="interest">What type of projects interest you?</label>
                <input type="text" list="try" name="interest">
                <datalist id="try">
                    {% for int in interests: %}
                        <option value="{{ int.interest }}"></option>
                    {% endfor %}
                </datalist>
                <button type="submit">add</button>
            </form>
            <div class="pals">
                {% for i in user.interests%}
                <form action="/remove/interest/{{ i.id }}" method="POST" >
                    <div class="pals_mid">
                        <button class="thic subtle_btn_blk" type="submit">X</button>
                        <p>{{ i.interest }}&nbsp</p>
                    </div>
                </form>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>