
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript"src="{{ url_for('static',filename='js/people_script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
<body>
    <!-- NAV -->
    <nav>
        <a id="logo" href="/feed" ><strong>LocalCollabz</strong></a>
        <div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('explore')">Explore&nbsp</button>
                <div id="explore" class="dropmenu">
                    <a class="btn thic sm" href="/projects">Projects</a>
                    <a class="btn thic sm" href="/people">People</a>
                    <a class="btn thic sm" href="/watchlist/projects/{{ user.id }}">Watchlist</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('user_nav')">{{ user.alias }}&nbsp</button>
                <div id="user_nav"class="dropmenu">
                    <a class="btn thic sm" href="/projects/user/{{ user.id }}">My Projects</a>
                    <a class="btn thic sm" href="/messages/{{ user.id }}">Messages</a>
                    <a class="btn thic sm" href="/profile/{{ user.id }}">Profile</a>
                    <a class="btn thic sm" href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="content">
        <div id="page_nav"class="w3-container">
            <div class="w3-bar w3-white">
                <div class="sort w3-dropdown-hover w3-left">
                    <button class="drop w3-button w3-white w3-hover-white">Sort&nbsp</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        {% if user.city_id: %}
                        <a href="/people/location/{{user.city_id}}" class="w3-bar-item w3-button w3-white w3-hover-white">location</a>
                        {% endif %}
                        <a href="/people/hot" class="w3-bar-item w3-button w3-white w3-hover-white">hot</a>
                        <a href="/people/new" class="w3-bar-item w3-button w3-white w3-hover-white">new</a>
                    </div>
                </div>
                <div class="sort w3-dropdown-hover w3-left">
                    <button class="drop w3-button w3-white w3-hover-white">Filter&nbsp</button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <button class="w3-bar-item w3-button w3-white w3-hover-white" onclick="display(0)">Skills</button>
                        <button class="w3-bar-item w3-button w3-white w3-hover-white" onclick="display(1)">Interests</button>
                    </div>
                </div>
                <div id="skills" class="buddies center">
                    <p>Filter by skill</p>
                    {% for skill in skills: %}
                    <a href="/people/skills/{{ skill.id }}" class="subtle_btn">{{ skill.skill }}</a>
                    {% endfor %}
                </div>
                <div id="interests" class="buddies center">
                    <p>Filter by interest</p>
                    {% for interest in interests: %}
                    <a href="/people/interests/{{ interest.id }}" class="subtle_btn">{{ interest.interest }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
            {% if people == False: %}
        <div class="snapshot thin buddies">
            <p class="tiny soft thic big_top">Local Collabz doesnt have any members listed who meet your requirements yet people often forget to include secific skills and interests, it never hurts to reach out and ask<3</p>
            <a href="#" class="puny thic close">+invite new members</a>
        </div>
            {% else: %}
        {% for person in people: %}
        <button class="snapshot" onclick="window.location.href='/profile/{{ person.id }}'">
            <p class="center"><strong>{{ person.alias }}</strong></p>
            {% if person.city_id: %}
                <p class="center thic sm">{{ person.location.city }},{{ person.location.area }}</p>
            {% endif %}
            {% if person.mission %}
            <p class="mish center">
                <img src="{{ url_for('static',filename='img/icons/open_quote.png')}}" alt="open quotes icon" class="open quotes">
            {% if person.mission: %}
                {{person.mission}}
            {% else: %}
                This person hasn't shared their mission yet.
            {% endif %}
                <img src="{{ url_for('static',filename='img/icons/close_quote.png')}}" alt="close quotes icon" class="close quotes">
            </p>
            {% endif %}
            {% if person.skillset != 'No_Skillz': %}
            <div class="sect left">
                <p class="title tiny">skills:</p>
                {% for skill in person.skillset: %}
                <p class="soft puny thic">{{ skill.skill }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% if person.associated_projects: %}
            <div class="sect tiny left">
                <p class="title">associated projects:</p>
                {% for project in person.associated_projects: %}
                <div class="buddies">
                    <div class="sect soft">
                        <p class="title"><strong>{{ project.title }}</strong></p><p>,{{ project.role.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </button>
        <div class="icons actions close r">
            {% if person.liked != True: %}
            <form action="/profile/like/{{ person.id }}" method="post">
                <button type="submit" class="icon"><img id="likey"class="lg_icon_pic" src="{{ url_for('static',filename='img/icons/like.png')}}" alt="like icon"></button>
            </form>
            {% else %}
            <form action="/profile/unlike/{{ person.id }}" method="post">
                <button type="submit" class="icon"><img class="lg_icon_pic" src="{{ url_for('static',filename='img/icons/liked.png')}}" alt="like icon"></button>
            </form>
            {% endif %}
            {% if person.watched != True: %}
            <form action="/profile/watch/{{ person.id }}" method="post">
                <button type="submit" class="icon"><img id="watchey"class="lg_icon_pic" src="{{ url_for('static',filename='img/icons/watch.png')}}" alt="watch icon"></button>
            </form>
            {% else %}
            <form action="/profile/unwatch/{{ person.id }}" method="post">
                <button type="submit" class="icon"><img class="lg_icon_pic" src="{{ url_for('static',filename='img/icons/watching.png')}}" alt="watch icon"></button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>