
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript"src="{{ url_for('static',filename='js/proj_chat_script.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>
    <!-- NAV -->
    <nav>
        <a id="logo" href="/feed" ><strong>LocalCollabz</strong></a>
        <div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('explore')">Explore&nbsp</button>
                <div id="explore" class="dropmenu">
                    <a class="btn thic sm" href="/projects">Projects</a>
                    <a class="btn thic sm" href="/people">People</a>
                    <a class="btn thic sm" href="/watchlist/projects/{{ user.id }}">Watchlist</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn btn thic" onclick="dropdown('user_nav')">{{ user.alias }}&nbsp</button>
                <div id="user_nav"class="dropmenu">
                    <a class="btn thic sm" href="/projects/user/{{ user.id }}">My Projects</a>
                    <a class="btn thic sm" href="/messages/{{ user.id }}">Messages</a>
                    <a class="btn thic sm" href="/profile/{{ user.id }}">Profile</a>
                    <a class="btn thic sm" href="/logout">Sign Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
<div class="content">
    <!-- LEAVE ACTIONS -->
    <div class="pals space">
        <a href="/projects/user/{{user.id}}" class="thic tiny">back to projects</a>
        <a href="/conversation/{{ conversation.id }}/exit" class="thic tiny">x</a>
    </div>
    <!-- ENDLEAVE ACTIONS -->
    <!-- TITLE -->
    <div class="center" id="title">
        <p class="center thic">{{ conversation.title }}</p>
        <a href="/project/{{ project.id }}">
            <p class="center tiny thic">{{ project.title }}'s Team Chat</p>
        </a>
        <p class="subtle_btn puny center" onclick="display(0), hide(0)">change title</p>
    </div>
    <div id="change_title" class="buddies">
        <form action="/change_title/{{ conversation.id }}" method="post">
            <div class="pals_mid space">
                <input type="text" name="title" value="{{ conversation.title }}" class="center puny thic">
                <button type="submit" class="puny_butt btn thic">save</button>
            </div>
        </form>
        <p class="subtle_btn puny center" onclick="reveal(0), nevermind(0)">change title</p>
    </div>
    <!-- END TITLE -->
    <!-- MEMBERS WITH ROLES -->
    <div class="pals_mid tiny" id="roles">
        <p class="sm thic">members:</p>
        {% for member in project.team[0:-1]: %}
        <a href="/profile/{{member.id}}" class="btn thic">{{ member.alias }}</a>
        <p class="soft puny">
                ({% for role in member.roles[0:-1]: %}
                    {{role.title}},
                {% endfor %}
                {% for role in member.roles[-1:]: %}
                    {{role.title}}
                {% endfor %}),
        </p>
        {% endfor %}
        {% for member in project.team[-1:]: %}
        <a href="/profile/{{member.id}}" class="btn thic">{{ member.alias }}</a>
        <p class="soft puny">
            ({% for role in member.roles[0:-1]: %}
                {{role.title}},
            {% endfor %}
            {% for role in member.roles[-1:]: %}
                {{role.title}}
            {% endfor %})
        </p>
        {% endfor %}
        <p class="soft puny" onclick="reveal(1), nevermind(2)">...( hide roles )</p>
    </div>
    <!-- END MEMBERS WITH ROLES -->
    <!-- SHORT TEAM -->
    <div class="pals_mid tiny" id="members">
        <p class="sm thic">members:</p>
        {% for member in project.team: %}
        <a href="/profile/{{member.id}}" class="btn thic">{{ member.alias }}</a>
        {% endfor %}
        <p class="soft puny" onclick="display(2), hide(1)">( view roles )</p>
    </div>
    <!-- END SHORT TEAM -->
    <!-- ADD TO CHAT -->
    <div class="snapshot thin" id="invite">
        <div class="pals_mid space tiny">
            <p class="thic">add to chat:</p>
            <form action="/add_2_chat/{{ conversation.id }}" method="post">
                <select name="user_id">
                    {% for person in user.watchlist %}
                    <option value="{{ person.id }}">{{ person.alias }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="puny_butt btn thic">add</button>
            </form>
        </div>
    </div>
    <!-- END ADD TO CHAT -->
    <!-- CHAT -->
    <div class="chat">
        {% for message in messages: %}
            {% if message.alias == user.alias: %}
            <div class="msg_me">
                <p class="tiny msg_c_me">{{ message.message }}</p>
                <p class=" msg_u">me</p>
            </div>
            {% else: %}
            <div class="msg">
                <p class=" msg_u">{{ message.alias }}</p>
                <p class="tiny msg_c">{{ message.message }}</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- ENDCHAT -->
    <!-- MESSENGER -->
    <div class="snapshot">
        <form action="/new_message/{{ conversation.id }}" method="post">
            <div class="buddies">
                <textarea name="message" cols="35" rows="1" placeholder="add to the coversation" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                <button type="submit" class="tiny_butt btn thic close">send</button>
            </div>
        </form>
    </div>
    <!-- END MESSENGER -->
</div>


