<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Document</title>
    </head>
    <body>
    <div class="content mids">
        {% if remove == true: %}
        <form action="/unassign/remove/{{ project.id }}" method="post">
            <p class="center">Are you sure you want to abandon your role as {{ role.title }} for {{ project.title }}?</p>
            <input type="hidden" name="role_id" value="{{ role.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <div class="pals_mid mspace big_top big_bottom">
                <a class="thic" href="/project/{{ project.id }}">no</a>
                <button type="submit" class="thic plain">yes</button>
            </div>
            <p class="center">This would remove you from the project completely</p>
        </form>
        {% else: %}
        <form action="/unassign/{{ project.id }}" method="post">
            <p class="center">Are you sure you want to abandon your role as {{ role.title }} for {{ project.title }}?</p>
            <input type="hidden" name="role_id" value="{{ role.id }}">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <div class="pals_mid mspace">
                <a class="thic" href="/project/{{ project.id }}">no</a>
                <button type="submit" class="thic plain">yes</button>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>